[submodule "Dependencies/AssessmentCenter"]
	path = Dependencies/AssessmentCenter
	url = https://github.com/raheelsayeed/AssessmentCenter.git
[submodule "Dependencies/EASIPRO"]
	path = Dependencies/EASIPRO
	url = https://github.com/raheelsayeed/EASIPRO.git
